body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.header-div {
  display: inline-block;
  width: 50%;
}

.header-div img {
  width: 232px;
  margin-top: 20px;
  margin-left: 70px;
}

.header-links li {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
  margin-right: 35px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header-links a {
  transition: 0.2s;
  color: #333333;
  text-decoration: none;
}

.header-links li :hover {
  transition: 0.2s;
  color: #00a0d2;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#comtech {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8CC5F9;
    padding: 20px 0 0 150px;
}

.section1-div1 {
    display: inline-block;
    width: 60%;
}

.section1-div2 {
    display: inline-block;
    width: 40%;
}

.nihil {
    padding: 5px 0 0 150px;
    font-size: 22px;
    width: 70%;
    line-height: 30px;
}

.contact-btn {
    margin: 45px 0 0 150px;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    background-color: #8CC5F9;
    line-height: 30px;
    border-style: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    -webkit-box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
    -moz-box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
    box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
}

.section1-div2 img {    
    margin-top: 50px;
    margin-left: -60px;
}

.stat {
    margin: 100px 0 50px 0 ;
    height: 200px;
    width: 80%;
    -webkit-box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
    -moz-box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
    box-shadow: 0px 20px 34px -6px rgba(140, 197, 249, 0.68);
}

.stat-div {
    display: flex;
    justify-content: center;
}

.user-icon {
  width: 65px;
  height: 65px;
  margin: 32px 0 0 20px;
}

.span1 {
  font-size: 30px;
  font-weight: bold;
}

.margin-t {
  margin-top: 36px;
}

.section2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#We {
  font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8CC5F9;
    padding: 20px 0 0 px;
}

.section2-div1 {
  width: 100%;
  margin-top: 150px;
  margin-left: 180px;
}
.section2-div2 {
    width: 100%;
    margin-top: 150px;
    margin-left: -100px;
  }
  .You {
    
    padding: 5px 0 0 0px;
    font-size: 22px;
    width: 70%;
    line-height: 30px;
    
  }
  .MoreInfo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8CC5F9;
   padding-left: 35px;
  }
  .Our {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #030303;
    padding: 90px 0 0 150px;
    text-align: center;
  }
  .Ea {
    margin-left: 200px;
    padding: 50px 0 0 150px;
    font-size: 22px;
    width: 70%;
    line-height: 30px;
    text-align: center;
  }

  
  .section3-div {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    width: 30%;
  }
  .odit {
    font-weight: bold;
    margin-top: 15px;
  }
  .omins{
    padding: 5px;
    width: 90%;
    font-weight: 700;
    margin-top: 10px;
  }
  .header3{
    text-align: center;
    font-weight: bold;
  }
  .p3{
    text-align: center;
    font-weight: 700;
  }
  .rasm{
  margin-left: 350px;
  margin-top: 25px;
  }